body {
    margin: 0;
    text-align: center;

}
.top-container {
    background-color: #fabc1a;
    display:grid;
    max-height: 500px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.topic {
    text-align: center;
    color: #FF0000;
    font-family: "Grey Qo", cursive;
    font-style: normal;
}
.name {
    font-size: 6rem;
    font-weight: 600;
    position: relative;
     margin: 5px auto 0 auto;
     grid-column-start: 2;
     grid-row-start: 2;
}
.work {
    font-size: 4rem;
    font-weight: 500;
    position: relative;
    top: 0px;
    color: #FF0000;
    grid-column-start: 2;
    grid-row-start: 3;
}
.red-sun1 {
    width: 150px;
    height: 150px;
    position: relative;
    left: 100px;
    top: 30px;
    grid-column-start: 3;
    grid-row-start: 1;
}
.middle-container {
    display: block;
    margin: 100px 0;

}
.sunger {
width: 200px;
}
h2 {
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
    color: #ff0055;
}
.intro{
    width: 30%;
    margin: auto;
    font-size: 1.3rem;
}
p {
    line-height: 2;
    color: #089216;
    font-size: 1.1rem;
}
hr{
    border: dotted #fabc1a 8px;
    border-bottom: none;
    width: 15%;
    margin: 100px auto;
}
.parent {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 50%;
    gap: 2rem;
    text-align: left;
    margin: 100px auto 0 auto;
}
.gifs {
    width: 30vh;
    height: 20vh;
}
h3 {
    font-size: 1.5rem;
    color: #e2004b;
}
.message {
    width: 40%;
    margin: 60px auto 90px;
}
.btn {
    background-color:#fa0055;
    color:white;
    border-radius: 20px;
    padding: 20px;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
}
.btn:hover {
    background-color: #ffffff;
    color: #fa0055;
    border: solid 2px #fa0055;
}
.link {
    text-decoration: none;
    margin: 30px;
    font-size: 1.3rem;
    color:#e2004b;
}
.bottom-container {
    background-color: #fabc1a;
    padding: 50px 0px 20px;
}
.footer{
    margin-bottom: 0px;
    padding: 20px;
    font-size: 1.2rem;
}
.linkimg {
    width: 45px;
}
.pictures {
    position: relative;
    right: 630px;
    padding-bottom: 0px;
    grid-column-start: 2;
    grid-row-start: 4;
    bottom: 93px;
}
.treeright {
    width: 100px;
}
.treeleft {
    width: 120px;
}
.home {
    width: 105px;
    
}
.cloudsleft {
    width: 80px;
    position: relative;
    right: 520px;
    opacity: 70%;
    transform: scaleX(-1);
    margin-bottom: 20px;
}
.cloudsright {
    width: 95px;
    position: relative;
    right: 710px;
    opacity: 70%;
    margin-bottom: 10px;
}
.cloudstop {
    position: relative;
    width: 100px;
    right: 730px;
}
.clouds {
    grid-column-start: 2;
    grid-row-start: 4;
    position: relative;
    bottom: 250px;
    left: 30px;
}
.topimg {
    width: 60px;
}

.music1 {
    position: relative;
    

}
.music2{
    position: relative;
    top: 30px;
}
.music3{
    position: relative;
    top: 60px;
}
.burc {
    position: absolute;
    left: 300px;
    top: 50px;
    width: 110px;
}
.line {
    position: absolute;
    left: 1000px;
    top: 250px;
    width: 250px;
}
.brush {
    position: absolute;
    left: 985px;
    top: 220px;
}
.foot {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}
.topmusic {
    grid-column: 2;
    grid-row-start: 1;
    position: relative;
    top: 20px;
}